[Unit]
Description=Monitor mailer
Documentation=http://www.test.fr
After=network.target network-online.target
Requires=redis-server.service

[Service]
Type=simple
WorkingDirectory=/opt/alert.mail
ExecStart=/opt/alert.mail/alert.mail.js
User=monitor
Group=monitor
PIDFile=/run/monitor/monitor.alert.mail.pid

[Install]
WantedBy=multi-user.target
Alias=alert.mail.service
